body, html{
    margin: 0;
    padding: 0;
    background-color: #ccdfdf;
}
*{
    box-sizing: border-box;
}
.container{
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    user-select: none;
    font-size: 60px;
}
#clock{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15vw;
}
.controls{
    margin-top: -60px;
}
.button{
    font-weight: bold;
    border-radius: 5px;
    border: none;
    padding: 4px 8px;
    margin-left: 4px;
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
}
